.contenedorCartItem {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  img {
    max-width: 200px;
  }

  .flex1 {
    flex-basis: 45%;
  }
  .flex2 {
    flex-basis: 35%;
    text-align: center;
  }
  .flex3 {
    flex-basis: 20%;
    text-align: center;
  }
}
